<!-- @format -->
{% comment %} {% include 'general.html' %}  {% endcomment %}
{% load static %} 
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/x-icon" href={% static 'img/logo.png' %}> 
		<link rel="stylesheet" href={% static 'css/style.css' %} />
		<link rel="stylesheet" href={% static 'css/registration.css' %} />
    <link rel="stylesheet" href={% static 'css/general.css' %} />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<title>Register | Limestone 2.0 Launch</title>
	</head>
  <nav class="navbar">
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    <div class="logo">
      <a href="#">
          <img src={% static 'img/textlogo.png' %} /></a>
    </div>
    <ul class="nav-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Products</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Blog</a></li>
    </ul>
    <div class="button-container">
      <a href="#" class="cta-button registerforlaunch">Register</a>
    </div>
  </nav>

	<body>
        <div class='shadow'></div>
        <div class='shadow1'></div>
        <div id="flashmessage">
            {% if messages %} {% for message in messages %}
            <div class="alert alert-{{ message.tags}} m-0" role="alert">
                <strong>{{ message }}</strong>
            </div>
            {% endfor %} {% endif %}
        </div>
        
        <div class='main'>
          <div class='maincontent'>
            <h3>JOIN THE REVOLUTION - LIMESTONE 2.0</h3>
            <div class='line'>
              <h1>One Platform, Limitless Community Solutions</h1>
              <img src={% static 'img/line.png' %} />
            </div>
            <p>
              Limestone 2.0 is the latest version of the app, allowing users to create circles of 
              family and close friends for information sharing
            </p>
            <h4>22nd November, 2024.</h4>
            <h3>LAUNCH STARTS IN</h3>
            <div class="countdown-container">
              <div id="countdown">
                  <div class="time-section">
                      <span id="days"></span>
                      <p>Days</p>
                  </div>
                  <div class="time-section">
                      <span id="hours"></span>
                      <p>Hours</p>
                  </div>
                  <div class="time-section">
                      <span id="minutes"></span>
                      <p>Minutes</p>
                  </div>
                  <div class="time-section">
                      <span id="seconds"></span>
                      <p>Seconds</p>
                  </div>
              </div>
          </div>
          <button class='registerforlaunch'>Register</button>
          </div>
        </div>

        <div class='regpageform'>
            <div class='formintro'>
                <div>                    
                    <h1>Register For this Launch</h1>
                    <p>Provide your details below to secure your spot!</p>
                </div>
                <div class='closeimg'>
                    <img src={% static 'img/close.png' %} />
                </div>
            </div><br/><br/>
            <div>
                <form method='POST'>
                    {% csrf_token %}
                    <div>
                        <label><p>Full Name</p><label>
                        <input type="text" name="fullname" required placeholder="eg: Community manager" />
                    </div><br/>
                    <div>
                        <label><p>Email address</p><label>
                        <input type="text" name="email" required placeholder="eg: john@yopmail.com" />
                    </div><br/>
                    <div class='modeform'>
                        <div>
                            <label><p>Phone number</p><label>
                            <input type="text" name="phonenumber" required placeholder="eg: 09122546356" />
                        </div>
                        <div class='referralinput'>
                            <label><p>Referral code <i>- Optional</i></p><label>
                            <input type="text" name="referercode" placeholder="eg: ju1982%[3" />
                        </div>
                    </div>
                    <button type="submit" style="border-radius: 12px;">Register</button>
                </form>
            </div>
        </div>
        <script src={% static 'js/main.js' %}></script>
    </body>
</html>

{% endblock content %}